<ion-header>
  <ion-toolbar>
    <ion-title>
      Aluguel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item *ngIf="emprestimo.length < 1">
          <ion-label text-center text-uppercase>Não há emprestimos</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let equip of emprestimo">
            <ion-item>
                <ion-label>{{equip.name}}</ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="excluir(equip)" color="danger">Devolver</ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
      </ion-list>
  
</ion-content>
