<ion-header>
  <ion-toolbar>
    <ion-title>
      Aluga Equips - IF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <img src="/assets/audiovisual-1.png" alt="homebanner" />
      <ion-card-header>
        <ion-card-title>Aluguel de equipamentos - Instituto Federal</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-title class="ion-align-self-center">Equipamentos</ion-card-title>
          <ion-card-subtitle class="ion-align-self-center">Arraste para os lados para tomar uma ação</ion-card-subtitle>
        </ion-card-header>
        <ion-button name="add" shape="round" expand="full" (click)="showAdd()">Cadastrar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list no-lines>
      <ion-item *ngIf="equips.length < 1">
        <ion-label text-center text-uppercase>Não há equipamentos</ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let equip of equips">
          <ion-item>
              <ion-label>{{equip.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="excluir(equip)" color="danger">Excluir</ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
                <ion-item-option (click)="alugar(equip)" color="success">Alugar</ion-item-option>
              </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
