<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Desenvolvido por Jorge A. Toledo Zarpão</ion-card-title>
        <ion-card-title>GU300063X</ion-card-title>
        <ion-card-subtitle>Instituto Federal - TEE - 5 semestre</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
</ion-content>
